

<div class="grid md:grid-cols-2 h-screen ">
    <div class="flex justify-center items-center md:text-left text-center">
        <div class="gap-4 px-4 md:px-0">
        <p class="text-6xl text-[#6A4EE9] font-bold mb-4">Hi<span class="wave">👋</span></p>
        <p class="text-3xl md:text-4xl mb-4">Let's Vichar together to write our Blog !</p>
        <button class="bg-[#6A4EE9] hover:bg-[#282424] text-white font-bold py-2 px-4 rounded-[20px]" (click)="onPageNotFound()">Start blog</button>
    </div>
    </div>
    <div class="flex justify-center items-center relative">
        <iframe class="md:absolute top-0 bottom-0 right-0 left-0 w-full h-full"
            src="https://lottie.host/embed/3898d766-d2ce-4cda-9ea7-3c7fec9c6fbc/T6Pki0HuPF.json"></iframe>
    </div>

</div>
