<app-header-blog></app-header-blog>


<div class="flex justify-center items-center">
    <div class="w-full max-w-[1200px] space-y-8">
        <app-profile-skeleton *ngIf="isloading"></app-profile-skeleton>
        <div *ngIf="!isloading" class="grid px-4 md:flex gap-10 mt-32">
            <!-- Left Column: Profile Section -->
            <div class="bg-[#fff] md:w-[30%] h-[100%] shadow-md rounded-[5px] p-6 md:sticky  md:top-[20%]">
                <div *ngFor="let item of profileDetails">
                    <img *ngIf="item.profilePicture" [src]="item.profilePicture"
                        class="w-[200px] m-auto h-[200px] rounded-[50%] border-[1px] border-[#e9e9e9]" />
                    <svg *ngIf="!item.profilePicture"
                        class="w-[200px] h-[200px] fill-[#6A4EE9] m-auto cursor-pointer hover:fill-[#282424]">
                        <use href="../../../assets/images/account-circle.svg#account"></use>
                    </svg>
                    <div class="broder-t-[#ddd] border mt-2 mb-2"> </div>
                    <div class="p-2">
                        <p class="text-xl mb-2">{{item.name | titlecase }}</p>
                        <p *ngIf="item.about" class="text-sm mb-2 text-[#a5a3a3]">{{item.about }}</p>
                        <button class="text-[#6A4EE9] cursor-pointer" *ngIf="item._id===authService.getUserId()"
                            data-hs-overlay="#hs-vertically-centered-scrollable-modal" data-bs-toggle="modal"
                            data-bs-target="#dataModal">Edit profile</button>
                    </div>
                </div>
            </div>
            <!-- Right Column: Blog Section -->
            <div class="md:w-[70%] space-y-5 overflow-y-auto">
                <div *ngFor="let item of profileDetails">
                    <div *ngIf="item.blogsData.length===0 " class="flex items-center justify-center md:mt-52 mt-32">
                        <button class="bg-[#6A4EE9] hover:bg-[#282424] text-white font-bold py-2 px-4 rounded"
                            *ngIf="item._id===authService.getUserId()" (click)="onNewBlog()">Start
                            blog</button>
                        <h5 *ngIf="item._id!==authService.getUserId()">No Blogs Yet</h5>
                    </div>
                    <div *ngFor="let blogDetails of item.blogsData">
                        <div class="bg-[#fff] hover:shadow-lg border border-[#e9e9e9] rounded-[5px] p-2 mb-5 ">
                            <div class="grid md:grid-cols-2 gap-8 cursor-pointer" (click)="OnNavigate(blogDetails._id)">
                                <img *ngIf="blogDetails.images[0]"
                                    class="h-[200px] w-full m-auto object-cover rounded-[5px]"
                                    [src]="blogDetails.images[0]" />
                                <img *ngIf="!blogDetails.images[0]" class="h-[200px] w-full m-auto rounded-[10px]"
                                    src="../../../assets/images/vicharpage.png" alt="image" />
                                <div class="p-2">
                                    <button
                                        class="bg-[#edf2f7] mb-4 font-bold text-[#7993a8] px-2 py-1 rounded-[5px]">{{blogDetails.type}}</button>
                                    <h3 class="mb-4 font-bold">{{blogDetails.title | titlecase}}</h3>
                                    <p *ngIf="blogDetails.subtitle" class="textEllipse mb-4">{{blogDetails.subtitle}}
                                    </p>
                                    <div class="flex text-[#747474]">
                                        <p>{{item.name |titlecase}}</p>
                                        <svg
                                            class="w-[30px] h-[30px] fill-[#6A4EE9] cursor-pointer hover:fill-[#282424]">
                                            <use href="../../../assets/images/circle-small.svg#circleSmall"></use>
                                        </svg>
                                        <p>{{blogDetails.timeStamp | date:"MMMM dd YYYY"}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="dataModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Profile</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="relative">
                    <img *ngIf="displayPicture" [src]="displayPicture"
                        class="w-[80px] h-[80px] object-cover m-auto cursor-pointer rounded-full hover:opacity-80">
                    <svg *ngIf="!displayPicture"
                        class="w-[100px] h-[100px] fill-[#6A4EE9] m-auto cursor-pointer hover:fill-[#282424]">
                        <use href="../../../assets/images/account-circle.svg#account"></use>
                    </svg>
                    <input type="file" id="fileInput" (change)="onFileSelected($event)"
                        class="absolute top-0 left-0 w-full h-full opacity-0 cursor-pointer">

                </div>
                <div class="grid gap-3">
                    <diV>
                        <p class="mb-2">Name</p>
                        <input type="text"
                            class="focus:outline-none w-full border-[1px] p-2 rounded-[5px] border-[#ddd]"
                            [(ngModel)]="profileName" name="title" />
                    </diV>
                    <div>
                        <p class="mb-2">About</p>
                        <textarea type="text"
                            class="focus:outline-none border-[1px] p-2 w-full rounded-[5px] border-[#ddd] resize-none"
                            [(ngModel)]="aboutProfile" name="about"></textarea>
                    </div>
                </div>



            </div>
            <div class="modal-footer border-none">
                <button type="button" class="btn bg-[#6A4EE9] text-white hover:bg-[#282424] hover:text-white"
                    (click)="onProfileUpdate()" data-bs-dismiss="modal">Update</button>
            </div>
        </div>
    </div>
</div>